body {
    background-position: absolute;
    background-color: #3B3936;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

a{
    text-decoration: none;
    color: unset;
}


.nav_bar {
    color: white;
    min-height: 100px;
    height: fit-content;
    width: 100%;
    background-color: #BD2A2E;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: end;
    align-items:center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 10px 10px 6px 5px rgba(0,0,0,0.53); 
    box-shadow: 0px 10px 13px -7px #000000, 10px 10px 6px 5px rgba(0,0,0,0.53);
}


.Main_Menu:hover {
    color: black;
}
.About:hover {
    color: black;
}
.Contact:hover {
    color: black;
}
.Mosaic:hover {
    color: black;
}
.Resume:hover {
    color: black;
}
.UnknownName1:hover {
    color: black;
}
.UnknownName2:hover {
    color: black;
}
.UnknownName3:hover {
    color: black;
}

.Main_Menu {
    padding-top: 1.5%;
    margin-top: 0px;
    padding-bottom: 1.5%;
    padding-right: 15px;
    margin-right: 0px;
    margin-bottom: auto;
    text-align: center;
    text-align: justify;
    transition: color, 0.5s;
    text-decoration: unset;
}



.About {
    padding-top: 1.5%;
    margin-top: 0px;
    padding-right: 15px;
    margin-right: 0px;
    margin-bottom: auto;
    text-align: center;
    text-align: justify;
    transition: color, 0.5s;
}

.Resume {
    padding-top: 1.5%;
    
    margin-top: 0px;
    padding-right: 15px;
    
    margin-right: 0px;
    margin-bottom: auto;
    text-align: center;
    text-align: justify;
    transition: color, 0.5s;
}

.Contact {
    padding-top: 1.5%;
    
    margin-top: 0px;
    padding-right: 15px;
    
    margin-right: 0px;
    margin-bottom: auto;
    text-align: center;
    text-align: justify;
    transition: color, 0.5s;
}

.Mosaic {
    padding-top: 1.5%;
   
    margin-top: 0px;
    padding-right: 15px;
    
    margin-right: 0px;
    margin-bottom: auto;
    text-align: center;
    text-align: justify;
    transition: color, 0.5s;
}

.UnknownName1 {
    padding-top: 1.5%;
    
    margin-top: 0px;
    padding-right: 15px;
    
    margin-right: 0px;
    margin-bottom: auto;
    text-align: center;
    text-align: justify;
    transition: color, 0.5s;
}

.UnknownName2 {
    padding-top: 1.5%;
    
    margin-top: 0px;
    padding-right: 15px;
    
    margin-right: 0px;
    margin-bottom: auto;
    text-align: center;
    text-align: justify;
    transition: color, 0.5s;
}

.UnknownName3 {
    padding-top: 1.5%;
    
    margin-top: 0px;
    padding-right: 15px;
    
    margin-right: 0px;
    margin-bottom: auto;
    text-align: center;
    text-align: justify;
    transition: color, 0.5s;
}

.content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.Section_1_index {
    margin: 5%;
    margin-bottom: 2%;
    padding: 2%;
    box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 11px 0px rgba(240, 240, 240, 0.75);
    background-color: #F2F2F2;
}

.Section_2_index {
    margin: 5%;
    margin-bottom: 2%;
    padding: 2%;
    box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 11px 0px rgba(240, 240, 240, 0.75);
    background-color: #F2F2F2;
}

.Section_3_index {
    margin: 5%;
    margin-bottom: 10%;
    padding: 2%;
    box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    background-color: #F2F2F2;
}

.page_head {
    margin-left: 5%;
    margin-bottom: 2%;
    width: fit-content;
}
.title {
    font-size: xx-large;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 10px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #f3f3f3, 0 0 30px #ffffff, 0 0 40px #e0e0e0, 0 0 55px #ffffff, 0 0 75px #e6e6e6;
}
.description {
    font-size: medium;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 10px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #f3f3f3, 0 0 30px #ffffff, 0 0 40px #e0e0e0, 0 0 55px #ffffff, 0 0 75px #e6e6e6;
}


.credits {
    color: #B2BEBF;
    padding-right: 10px;
}

footer {
    width: 100%;
    background-color: #BD2A2E;
    text-align: right;
    margin-bottom: 2%;
}

.separator {
    height: 1px;
    width: 98%;
    background-color: white;
    box-shadow: -1px 1px 38px 0px rgba(255,255,255,1);
    -webkit-box-shadow: -1px 1px 38px 0px rgba(255,255,255,1);
    -moz-box-shadow: -1px 1px 38px 0px rgba(255,255,255,1);
}

#background-music {
    display: none;
  }

  .Main_Title{
    border-radius: 0%;
    border-width: 3px;
    border-style: solid;
    font-size: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #111111;

}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #F2EFEB;
    color: #111111;
    box-shadow: 10px 5px 5px #111111;
    margin-bottom: 50px;
    margin-top: 25px;
}


.section {
    margin-bottom: 20px;
    border-color: #111111;
    border-width: 3px;
    border-style: solid;
    background-color: #F2EFEB;
    transition: background-color, color, 1s;
}
.section:hover {
    margin-bottom: 20px;
    border-width: 3px;
    border-style: solid;
    background-color: #111111;
    color: #F2EFEB;
    
}
.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;
}
.info {
    margin-bottom: 20px;
    margin-left: 15px;
}
.info-item {
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
}
.education,
.experience,
.skills,
.languages,
.permits,
.hobbies {
    margin-bottom: 20px;
    margin-left: 15px;
}
.education-item,
.experience-item,
.skill-item,
.language-item,
.permit-item,
.hobby-item {
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
}
.separator {
    margin-top: 5px ;
    margin-bottom: 2px;
    background-color: #F2EFEB;
}
.html_skill {
padding-right: 10px;
font-size: 25px;
width: 60%;
height: fit-content;
border-width: 2px;
border-style: solid;
border-color: #111111;
margin-bottom: 10px;
text-align: right;
margin-left: 15px;
background-color: rgb(65, 125, 255);
}
.css_skill {
padding-right: 10px;
font-size: 25px;
width: 50%;
height: fit-content;
border-width: 2px;
border-style: solid;
margin-left: 15px;
border-color: #111111;
margin-bottom: 10px;
text-align: right;
background-color: orange;
}
.javascript_skill {
padding-right: 10px;
font-size: 25px;
width: 10%;
margin-left: 15px;
height: fit-content;
border-width: 2px;
border-style: solid;
border-color: #111111;
margin-bottom: 10px;
text-align: right;
background-color: rgb(255, 0, 0);
}
.python_skill {
padding-right: 10px;
font-size: 25px;
width: 80%;
margin-left: 15px;
height: fit-content;
border-width: 2px;
border-style: solid;
border-color: #111111;
margin-bottom: 10px;
text-align: right;
background-color: rgb(255, 102, 0);
}


.language_selector {
    margin: auto;
    justify-content: center;
    margin-top: 10px    ;
}

.switch_language_ENUNLOCKED{
    height: 50px;
    width: 150px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
}

.switch_language_FRLOCKED {
    height: 50px;
    width: 150px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 0);
    color: #ffffff  ;
}

.switch_language_ENLOCKED {
    height: 50px;
    width: 150px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 0);
    color: #ffffff  ;
}

.switch_language_FRUNLOCKED {
    height: 50px;
    width: 150px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
}

.theme_change_button {
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 50px;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    background: #ffffff;
    color: #000000;
    position: absolute;
    top: 10px;
    right: 10px;


}