body {
    background-color: rgb(247, 245, 243);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.global_content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}
.global_content.appear{
    opacity: 1;
    transform: translateY(0);
}

.nav_bar {
    height: 100px;
    width: 100%;
    background-color: #0455BF;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding-top: 50px;
}