body {
    background-image: url(assets/images/background_dark.png);
    background-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: background-color, 1s;
    max-height: 90%;
    background-color: #272727;
    transition: background-color, background-image, 500ms;

}

a {
    text-decoration: none;
    color: unset;
}

::-webkit-scrollbar {
    display: none;
}


.nav_bar {
    color: white;
    min-height: 100px;
    height: fit-content;
    width: 100%;
    background-color: #BD2A2E;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: end;
    align-items: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 10px 10px 6px 5px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 10px 13px -7px #000000, 10px 10px 6px 5px rgba(0, 0, 0, 0.53);
    transition: color, background-color, 1s;
}


.Main_Menu:hover {
    color: black;
    transform: rotate(5deg);
}

.About:hover {
    color: black;
    transform: rotate(5deg);
}

.Contact:hover {
    color: black;
    transform: rotate(5deg);
}

.Mosaic:hover {
    color: black;
    transform: rotate(5deg);
}

.Resume:hover {
    color: black;
    transform: rotate(5deg);
}

.Rallye:hover {
    color: black;
    transform: rotate(5deg);
}

.Mans:hover {
    color: black;
    transform: rotate(5deg);
}

.Nascar:hover {
    color: black;
    transform: rotate(5deg);
}

.Main_Menu {
    padding-top: 1.5%;
    margin-top: 0px;
    padding-bottom: 1.5%;
    padding-right: 15px;
    margin-right: 0px;
    margin-bottom: auto;
    text-align: center;
    text-align: justify;
    transition: color, 1s;
    text-decoration: unset;
}



.About {
    padding-top: 1.5%;
    margin-top: 0px;
    padding-right: 15px;
    margin-right: 0px;
    margin-bottom: auto;
    text-align: center;
    text-align: justify;
    transition: color, 1s;
}

.Resume {
    padding-top: 1.5%;

    margin-top: 0px;
    padding-right: 15px;

    margin-right: 0px;
    margin-bottom: auto;
    text-align: center;
    text-align: justify;
    transition: color, 1s;
}

.Contact {
    padding-top: 1.5%;
    margin-top: 0px;
    padding-right: 15px;
    margin-right: 0px;
    margin-bottom: auto;
    text-align: center;
    text-align: justify;
    transition: color, 1s;
}

.Mosaic {
    padding-top: 1.5%;
    margin-top: 0px;
    padding-right: 15px;
    margin-right: 0px;
    margin-bottom: auto;
    text-align: center;
    text-align: justify;
    transition: color, 1s;
}

.Rallye {
    padding-top: 1.5%;
    margin-top: 0px;
    padding-right: 15px;
    margin-right: 0px;
    margin-bottom: auto;
    text-align: center;
    text-align: justify;
    transition: color, 1s;
}

.Mans {
    padding-top: 1.5%;
    margin-top: 0px;
    padding-right: 15px;
    margin-right: 0px;
    margin-bottom: auto;
    text-align: center;
    text-align: justify;
    transition: color, 1s;
}

.Nascar {
    padding-top: 1.5%;
    margin-top: 0px;
    padding-right: 15px;
    margin-right: 0px;
    margin-bottom: auto;
    text-align: center;
    text-align: justify;
    transition: color, 1s;
}

.content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

.Section_index {
    margin: 5%;
    padding: 2%;
    box-shadow: 0 8px 32px 0 rgba(75, 75, 75, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(255, 255, 255, 0.18);
    color: rgb(255, 255, 255);
    transition: 1s;
}

.page_head {
    margin-left: 5%;
    margin-bottom: 2%;
    width: fit-content;
}

.title {
    font-size: xx-large;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 10px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #f3f3f3, 0 0 30px #ffffff, 0 0 40px #e0e0e0, 0 0 55px #ffffff, 0 0 75px #e6e6e6;
    transition: color, background-color, 1s;
}

.description {
    font-size: medium;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 10px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #f3f3f3, 0 0 30px #ffffff, 0 0 40px #e0e0e0, 0 0 55px #ffffff, 0 0 75px #e6e6e6;
    transition: color, background-color, 1s;
}


.credits {
    color: #B2BEBF;
    padding-right: 10px;
}

footer {
    width: 100%;
    background-color: #BD2A2E;
    text-align: right;
    margin-bottom: 2%;
    transition: background-color, 1s;
}

.separator {
    height: 1px;
    width: 98%;
    background-color: white;
    box-shadow: -1px 1px 38px 0px rgba(255, 255, 255, 1);
    -webkit-box-shadow: -1px 1px 38px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: -1px 1px 38px 0px rgba(255, 255, 255, 1);
    transition: color, background-color, 1s;
}

#background-music {
    display: none;
}

.Main_Title {
    border-radius: 0%;
    border-width: 3px;
    border-style: solid;
    font-size: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #111111;
    transition: color, background-color, 1s;

}

.container_cv {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #F2EFEB;
    color: #111111;
    box-shadow: 10px 5px 5px #111111;
    margin-bottom: 50px;
    margin-top: 25px;
    transition: color, background-color, 1s;
}


.section {
    margin-bottom: 20px;
    border-color: #111111;
    border-width: 3px;
    border-style: solid;
    background-color: #F2EFEB;
    transition: background-color, color, 1s;
}

.section:hover {
    margin-bottom: 20px;
    border-width: 3px;
    border-style: solid;
    background-color: #111111;
    color: #F2EFEB;
    transition: color, background-color, 1s;

}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;
}

.info {
    margin-bottom: 20px;
    margin-left: 15px;
}

.info-item {
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
}

.education,
.experience,
.skills,
.languages,
.permits,
.hobbies {
    margin-bottom: 20px;
    margin-left: 15px;
}

.education-item,
.experience-item,
.skill-item,
.language-item,
.permit-item,
.hobby-item {
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
}

.separator {
    margin-top: 5px;
    margin-bottom: 2px;
    background-color: #F2EFEB;
    transition: color, background-color, 1s;
}

.html_skill {
    padding-right: 10px;
    font-size: 25px;
    width: 60%;
    height: fit-content;
    border-width: 2px;
    border-style: solid;
    border-color: #111111;
    margin-bottom: 10px;
    text-align: right;
    margin-left: 15px;
    background-color: rgb(65, 125, 255);
    transition: color, background-color, 1s;
}

.css_skill {
    padding-right: 10px;
    font-size: 25px;
    width: 50%;
    height: fit-content;
    border-width: 2px;
    border-style: solid;
    margin-left: 15px;
    border-color: #111111;
    margin-bottom: 10px;
    text-align: right;
    background-color: orange;
    transition: color, background-color, 1s;
}

.javascript_skill {
    padding-right: 10px;
    font-size: 25px;
    width: 10%;
    margin-left: 15px;
    height: fit-content;
    border-width: 2px;
    border-style: solid;
    border-color: #111111;
    margin-bottom: 10px;
    text-align: right;
    background-color: rgb(255, 0, 0);
    transition: color, background-color, 1s;
}

.python_skill {
    padding-right: 10px;
    font-size: 25px;
    width: 80%;
    margin-left: 15px;
    height: fit-content;
    border-width: 2px;
    border-style: solid;
    border-color: #111111;
    margin-bottom: 10px;
    text-align: right;
    background-color: rgb(255, 102, 0);
    transition: color, background-color, 1s;
}


.language_selector {
    margin: auto;
    justify-content: center;
    margin-top: 10px;
}

.switch_language_ENUNLOCKED {
    height: 50px;
    width: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    transition: color, background-color, 1s;
}

.switch_language_FRLOCKED {
    height: 50px;
    width: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    transition: color, background-color, 1s;
}

.switch_language_ENLOCKED {
    height: 50px;
    width: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    transition: color, background-color, 1s;
}

.switch_language_FRUNLOCKED {
    height: 50px;
    width: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    transition: color, background-color, 1s;
}

.theme_change_button {
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 50px;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    background: #ffffff;
    color: #000000;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: color, background-color, 1s;
    cursor: pointer;
}

.conteneur_class_1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.text_section {
    text-align: left;
    padding-left: 2%;
}

.image_index {
    height: 5%;
    width: 5%;
}


.conteneur_class_2 {
    padding-top: 1%;
    height: 50%;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: center;
    padding-bottom: 1%;

}


.image_mosaique {
    height: 15%;
    width: 15%;
    margin: 5px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 3px solid rgba(209, 213, 219, 0.3);
    transition: 1s;
}

.image_mosaique:hover {
    transform: scale(1.2);
    z-index: 3;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    margin-left: 40%;
    margin-right: 30%;
    margin-top: 10px;
    margin-bottom: 10px;

}

/* Form Styling */
.form-control {
    margin: 10px 0;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    resize: none;
}

.form_button {
    background: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    text-align: center;
    margin: auto;
}

.form_button:hover {
    background: #009e15;
}

/* Animations */
.form-control,
.form_button {
    transition: transform 0.2s;
}

.form-control:hover,
.form_button:hover {
    transform: scale(1.05);
}

